.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.not-found-image {
  width: 30%;
}
.not-found-heading {
  font-weight: 'Roboto';
}
.not-found-paragraph {
  color: #616e7c;
  font-family: 'Roboto';
  text-align: center;
}
